/*  ================
    CUSTOM FONTS
    ================ */

/* font: Barlow Semi Condensed - regular */
@font-face {
    font-display: swap;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/barlow-semi-condensed-v16-latin/barlow-semi-condensed-v16-latin-regular.woff2') format('woff2');
}

/* font: Barlow Semi Condensed - 500 */
@font-face {
    font-display: swap;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/barlow-semi-condensed-v16-latin/barlow-semi-condensed-v16-latin-500.woff2') format('woff2');
}

/* font: Barlow Semi Condensed - 600 */
@font-face {
    font-display: swap;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/barlow-semi-condensed-v16-latin/barlow-semi-condensed-v16-latin-600.woff2') format('woff2');
}


/*  ================
    CSS VARIABLES
    ================ */

:root {
    /* Primary Colors */
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);

    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);
}


/*  ================
    BASE
    ================ */

