/*  ================
    CUSTOM FONTS
    ================ */

/* font: Barlow Semi Condensed - 500 */
@font-face {
    font-display: swap;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/barlow-semi-condensed-v16-latin/barlow-semi-condensed-v16-latin-500.woff2') format('woff2');
}

/* font: Barlow Semi Condensed - 600 */
@font-face {
    font-display: swap;
    font-family: 'Barlow Semi Condensed';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/barlow-semi-condensed-v16-latin/barlow-semi-condensed-v16-latin-600.woff2') format('woff2');
}


/*  ================
    CSS VARIABLES
    ================ */

:root {
    /* Primary Colors */
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);

    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);
}


/*  ================
    BASE
    ================ */

html {
    font-size: 13px;
    font-weight: 500;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;

    max-width: 88rem;
    width: 100%;
    margin: 0 auto;

    display: grid;
    place-content: center;
    min-height: 100vh;
}


/*  ================
    LAYOUT & STYLING
    ================ */

.testimonials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        'daniel daniel jonathan kira'
        'jeanette patrick patrick kira';
    gap: 2rem 2.5rem;

    padding: 1rem;
}

.testimonial {
    color: var(--white);
    padding: 1.5rem 2.5rem 0.5rem;
    border-radius: 0.7rem;
}

.testimonial--daniel {
    grid-area: daniel;
    background-color: var(--purple-500);
    position: relative;
    box-shadow: 0.1rem 0.5rem 1rem var(--grey-100);
}

.testimonial--jonathan {
    grid-area: jonathan;
    background-color: var(--grey-500);
    box-shadow: 0.1rem 0.5rem 10rem var(--grey-200);
}

.testimonial--jeanette {
    grid-area: jeanette;
    background-color: var(--white);
    color: var(--grey-500);
    box-shadow: 0.1rem 0.5rem 10rem var(--grey-400);
}

.testimonial--patrick {
    grid-area: patrick;
    background-color: var(--dark-blue);
    box-shadow: 0.1rem 0.5rem 5rem var(--grey-200);
}

.testimonial--kira {
    grid-area: kira;
    background-color: var(--white);
    color: var(--grey-500);
    box-shadow: 0.1rem 0.5rem 10rem var(--grey-400);
}

.testimonial__profile {
    display: flex;
    align-items: center;
    gap: 1.1rem;

    margin: 1rem auto 1rem;
}

.testimonial__profile-avatar {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}

.testimonial--daniel .testimonial__profile-avatar {
    border: 3px solid var(--purple-300);
}

.testimonial--jonathan .testimonial__profile-avatar {
    border: 2px solid var(--grey-500);
}

.testimonial--jeanette .testimonial__profile-avatar {
    border: 2px solid var(--grey-200);
}

.testimonial--patrick .testimonial__profile-avatar {
    border: 2px solid var(--purple-300);
}

.testimonial--kira .testimonial__profile-avatar {
    border: 2px solid var(--grey-200);
}

.testimonial__profile-info {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.testimonial--daniel .testimonial__profile-info::after {
    content: url('../assets/images/bg-pattern-quotation.svg');
    position: absolute;
    z-index: 1;
    right: 10%;
    top: 1%;
}

.testimonial__title {
    font-size: 1em;
}

.testimonial__badge {
    font-size: 0.85em;
}

.testimonial__description {
    font-size: 1.55em;
    font-weight: 600;
    margin-block: 1rem;
    position: relative;
    z-index: 2;
}

.testimonial__detailed-description {
    line-height: 1.4em;
    padding-block-end: 1rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: circle(0);
    white-space: nowrap;
    border: 0;
}

.attribution {
    position: absolute;
    bottom: 1%;
    right: 50%;
    transform: translateX(50%);
}

.attribution a {
    color: var(--purple-500);
    text-decoration: none;
}

.attribution a:hover,
.attribution a:focus {
    color: var(--grey-500);
    text-decoration: underline;
}


/*  ================
    FOR TABLET SCREENS
    ================ */

@media(max-width: 769px) {

    /* ================
    BASE
    ================ */

    body {
        max-width: 48rem;
    }


    /* ================
    LAYOUT & STYLING
    ================ */

    .testimonials {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            'daniel daniel jonathan'
            'jeanette patrick patrick'
            'kira kira x';
        gap: 1.5rem;

        padding: 1rem;
        margin-block-start: 2rem;
    }

    .testimonial {
        padding: 1rem 2rem;
    }

    .testimonial--daniel {
        box-shadow: 0 0 0.5rem var(--grey-100);
    }

    .testimonial--jonathan {
        box-shadow: 0.1rem 0.5rem 10rem var(--grey-200);
    }

    .testimonial--jeanette {
        box-shadow: 0.1rem 0.1rem 1rem var(--grey-400);
    }

    .testimonial--patrick {
        box-shadow: 0 0 1rem var(--grey-200);
    }

    .testimonial--kira {
        box-shadow: 0.1rem 0.1rem 1rem var(--grey-400);
    }
}


/*  ================
    FOR MOBILE SCREENS
    ================ */

@media(max-width: 600px) {

    /* ================
    BASE
    ================ */

    body {
        max-width: 40rem;
        width: 90%;
        min-width: 23rem;
    }


    /* ================
    LAYOUT & STYLING
    ================ */

    .testimonials {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas:
            'daniel'
            'jonathan'
            'jeanette'
            'patrick'
            'kira';
        margin-block-start: 1rem;
        gap: 2rem;
    }

    .testimonial {
        padding: 1.5rem 2.7rem;
        text-wrap: balance;
    }

    .testimonial--daniel .testimonial__profile-info::after {
        content: none;
    }
}

@media (max-width: 900px) {
    .attribution {
        position: relative;
        text-align: center;
        margin-block-start: 1rem;
    }
}