/*  =================
    FONTS
    ================= */

/* Bai Jamjuree - normal */
@font-face {
    font-family: 'Bai Jamjuree';
    src: url('../assets/font/bai-jamjuree-v13-latin/bai-jamjuree-v13-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Bai Jamjuree - semi bold */
@font-face {
    font-family: 'Bai Jamjuree';
    src: url('../assets/font/bai-jamjuree-v13-latin/bai-jamjuree-v13-latin-600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


/*  =================
    VARIABLES
    ================= */

:root {
    /* colors */
    --green-500: hsl(171, 66%, 44%);
    --blue-100: hsl(233, 100%, 69%);
    --gray-700: hsl(210, 10%, 33%);
    --gray-500: hsl(201, 11%, 66%);
    --gray-footer: hsl(220, 18%, 97%);
    --white: hsl(0, 0%, 100%);

    /* sizes */
    --h2-font-size: 2rem;
    --h2-letter-spacing: -0.03rem;
    --h2-margin-block-start: 3.5rem;

    --description-padding-inline: 20rem;
    --description-line-height: 1.625rem;
    --description-margin-block: 1.1rem;
}


/*  =================
    BASE
    ================= */

html {
    font-size: 18px;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    color: var(--gray-500);
    text-align: center;

    background-image: url('../assets/images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: contain;
}


/*  =================
    ELEMENTS & STYLING
    ================= */

/* header */
header {
    margin-block: 7.2rem 3.2rem;
}

header .clipboard-logo {
    width: 7rem;
    margin: 0 auto;
}

/* hero */

h1,
h2,
h3 {
    color: var(--gray-700);
}

.hero__title {
    font-size: 2.46rem;
}

.hero__description {
    font-size: 1.125rem;
    margin-block: var(--description-margin-block);
    padding-inline: var(--description-padding-inline);
    line-height: var(--description-line-height);
}

.downloads {
    margin-block: 3.5rem 5rem;
}

.downloads__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
}

.downloads__list a {
    border-radius: 3rem;
    padding: 0.9rem 2rem;
    font-weight: 600;
    color: var(--white);
    letter-spacing: 0.02rem;
}

.downloads__ios {
    background-color: var(--green-500);
    box-shadow: 0 0.1rem 0.1rem 0.1rem hsl(172, 60%, 38%),
        0 0.3rem 0.9rem 0.4rem hsl(173, 65%, 86%);
}

.downloads__ios:hover,
.downloads__ios:focus {
    background-color: hsl(171, 52%, 58%);
}

.downloads__mac {
    background-color: var(--blue-100);
    box-shadow: 0 0.1rem 0.1rem 0.1rem hsl(233, 61%, 38%),
        0 0.3rem 0.9rem 0.4rem hsl(233, 65%, 86%);
}

.downloads__mac:hover,
.downloads__mac:focus {
    background-color: hsl(233, 100%, 76%);
}

.snippets__title,
.access-clipboard__title,
.workflow__title,
.available-downloads__title {
    margin-block-start: var(--h2-margin-block-start);
    font-size: var(--h2-font-size);
    letter-spacing: var(--h2-letter-spacing);

}

.snippets__description,
.access-clipboard__description,
.workflow__description,
.available-downloads__description {
    margin-block-start: var(--description-margin-block);
    padding-inline: var(--description-padding-inline);
    line-height: var(--description-line-height);
    font-size: 1.02rem;
}


/* snippets */

.snippets {
    padding-block: 1rem;
}

.snippets__features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: start;
    margin-block-start: 3.5rem;
    padding-block: 1rem;
}

.snippets__features-img img {
    overflow: hidden;
    margin-inline-start: -2rem;
    width: 105%;
}

.snippets__feature-list {
    padding: 3.8rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.snippets__feature-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.snippets__feature-title {
    font-size: 1.3rem;
}

.snippets__feature-description {
    font-size: 0.9rem;
    padding-inline-end: 9.2rem;
    line-height: var(--description-line-height);
}


/* access clipboard */

.access-clipboard {
    margin-block-start: 6rem;
}

.access-clipboard__img {
    padding-inline: 14.8rem;
    padding-block-start: 5.5rem;
}


/* workflow */

.workflow {
    margin-block-start: 4rem;
}

.workflow__feature-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 2rem 8.5rem;
    gap: 0.5rem
}

.workflow__feature-card {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    place-items: center;
    margin-block-start: 0.8rem;
}

.workflow__feature-card-icon {
    width: 2.5rem;
    align-self: center;
}

.workflow__feature-cards-title {
    font-size: 1.3rem;
    margin-block: 1rem;
}

.workflow__feature-card-description {
    padding-inline: 0.4rem;
    align-self: start;
    font-size: 0.9rem;
    line-height: 1.58rem;
}

.plain-text .workflow__feature-card-icon {
    width: 2.3rem;
}


/* brand logos */

.brand-logos {
    padding: 7rem 6.5rem 5.2rem;
}

.brand-logos ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* available downloads */

.available-downloads {
    padding: 0.05rem;
    margin-block-end: 4rem;
}


/* footer */

footer {
    background-color: var(--gray-footer);
    padding: 2.5rem 2.5rem 0.2rem;
    display: grid;
    gap: 1rem;

}

.footer {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    place-items: start;
}

.footer .clipboard-logo {
    height: 3.3rem;
    width: auto;
    justify-self: center;
    padding-inline-end: 2rem;
    padding-block-start: 0.2rem;
}

.navbar {
    padding-inline: 2rem;
    text-align: start;
    font-weight: 600;
}

.navbar__list {
    display: flex;
    flex-flow: column wrap;
    row-gap: 1rem;
    column-gap: 4.2rem;
    max-height: 5rem;
    height: 100%;
}

.navbar__list-item {
    padding-inline-start: 0.5rem;
}

.navbar__list-item a {
    color: var(--gray-500);
}

.navbar__list-item a:hover,
.navbar__list-item a:focus {
    color: var(--green-500);
    cursor: pointer;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-inline-start: 4rem;
}

.social-links__list {
    display: flex;
    gap: 1.4rem;
    justify-content: center;
    align-items: center;
}

.social-links__list-item a:hover,
.social-links__list-item a:focus {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(63%) sepia(18%) saturate(1574%) hue-rotate(122deg) brightness(94%) contrast(89%);
}

/* attribution */

.attribution {
    font-size: 0.7rem;
}

.attribution a {
    color: var(--blue-100);
}

.attribution a:hover,
.attribution a:focus {
    color: var(--green-500);
}


/* ===================
   FOR 1024PX MAX SCREENS
   =================== */

@media (max-width: 1024px) {

    /* variables */
    :root {
        --description-padding-inline: 10rem;
    }

    /* snippets */
    .snippets__features {
        grid-template-columns: auto;
        margin-block-start: 2rem;
    }

    .snippets__features-img img {
        margin-inline-start: 0;
        width: 100%;
        padding-inline: 5rem;
    }

    .snippets__feature-list {
        flex-direction: row;
        gap: 1rem;
        justify-content: center;
        text-align: center;
    }

    .snippets__feature-description {
        text-align: center;
        padding-inline: 1rem;
    }

    /* workflow */
    .workflow__feature-cards {
        padding: 2rem 5rem;
    }

    /* brand logos */
    .brand-logos {
        padding-inline: 5rem;
    }

    .brand-logos ul {
        flex-wrap: wrap;
        row-gap: 3rem;
        column-gap: 2rem;
    }

    /* footer */
    .navbar__list {
        row-gap: 0.5rem;
        column-gap: 4.5rem;
    }
}


/* ===================
   FOR 680PX MAX SCREENS
   =================== */

@media (max-width: 680px) {

    body {
        background-image: url('../assets/images/bg-header-mobile.png');
    }

    /*  =================
        VARIABLES
        ================= */

    :root {
        /* sizes */

        --h2-font-size: 1.6rem;

        --description-padding-inline: 1.8rem;
        --description-margin-block: 0.4rem;
        --description-line-height: 1.45rem;

    }

    /*  ===================
        ELEMENTS & STYLING
        ===================  */

    /* header */
    header {
        margin-block: 6.8rem 3.2rem;
    }


    /* hero */

    .hero__title {
        font-size: 1.75rem;
        padding: 0.5rem 1rem;
    }

    .hero__description {
        font-size: 0.9rem;
    }

    .downloads {
        margin-block: 3.25rem 5rem;
    }

    .downloads__list {
        flex-direction: column;
        gap: 3.15rem;
    }

    .downloads__list a {
        padding: 0.8rem 4.3rem;
    }

    .snippets__title,
    .access-clipboard__title,
    .workflow__title,
    .available-downloads__title {
        margin-block-start: var(--h2-margin-block-start);
        font-size: var(--h2-font-size);
        letter-spacing: var(--h2-letter-spacing);
        text-wrap: pretty;
        padding: 0.5rem 3rem;
    }

    .snippets__description,
    .access-clipboard__description,
    .workflow__description,
    .available-downloads__description {
        margin-block-start: var(--description-margin-block);
        padding-inline: var(--description-padding-inline);
        line-height: var(--description-line-height);
        font-size: 0.9rem;
    }


    /* snippets */

    .snippets {
        padding-block: 1rem;
    }

    .snippets__features {
        display: flex;
        flex-direction: column;
        text-align: start;
        margin-block-start: 2.5rem;
        padding-block: 1rem;
    }

    .snippets__features-img img {
        padding-inline: 1.8rem;
        width: 100%;
    }

    .snippets__feature-list {
        padding: 3.2rem 1rem;
        gap: 2.5rem;
        flex-direction: column;
    }

    .snippets__feature-item {
        gap: 0;
    }

    .snippets__feature-title {
        font-size: 1.3rem;
    }

    .snippets__feature-description {
        padding-inline: 1rem;
        margin-block-start: 0.8rem;
    }


    /* access clipboard */

    .access-clipboard {
        margin-block-start: 4.5rem;
    }

    .access-clipboard__img {
        padding-inline: 1rem;
        padding-block-start: 3rem;
    }


    /* workflow */

    .workflow {
        margin-block-start: 5rem;
    }

    .workflow__feature-cards {
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
        gap: 2.1rem;
        margin-block-start: 0.8rem;
    }

    .workflow__feature-card-icon {
        width: 2.5rem;
        align-self: start;
        padding-block-start: 0.6rem;
    }

    .workflow__feature-cards-title {
        font-size: 1.3rem;
        margin-block-start: 0.9rem;
    }

    /* brand logos */

    .brand-logos {
        padding: 7rem 6.5rem 5.2rem;
        margin-block-start: -1.8rem;
    }

    .brand-logos ul {
        gap: 3.5rem;
    }

    /* available downloads */

    .available-downloads {
        padding: 0.05rem;
        margin-block: -1rem 4rem;
    }

    .available-downloads__title {
        padding: 0.5rem 1rem;
    }

    /* footer */

    footer {
        margin-block-start: 5.5rem;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
    }

    .footer .clipboard-logo {
        padding-inline: 0;
    }

    .navbar {
        margin-inline-start: -0.6rem;
        margin-block-start: 0;
        text-align: center;
    }

    .navbar__list {
        flex-flow: column;
        gap: 1.5rem;
        max-height: 100%;
        justify-content: space-between;
    }

    .social-links {
        padding-inline-start: 0rem;
        padding-block-start: 0.2rem;
    }

    .social-links__list {
        gap: 2.2rem;
    }
}