/*  =================
    FONTS
    ================= */

/* Bai Jamjuree - normal */
@font-face {
    font-family: 'Bai Jamjuree';
    src: url('../assets/font/bai-jamjuree-v13-latin/bai-jamjuree-v13-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Bai Jamjuree - semi bold */
@font-face {
    font-family: 'Bai Jamjuree';
    src: url('../assets/font/bai-jamjuree-v13-latin/bai-jamjuree-v13-latin-600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


/*  =================
    VARIABLES
    ================= */

:root {
    /* colors */
    --green-500: hsl(171, 66%, 44%);
    --blue-100: hsl(233, 100%, 69%);
    --gray-700: hsl(210, 10%, 33%);
    --gray-500: hsl(201, 11%, 66%);
    --white: white;

    /* sizes */
    --h2-font-size: 2rem;
    --h2-letter-spacing: -0.03rem;
    --h2-margin-block-start: 3.5rem;

    --description-padding-inline: 20rem;
    --description-line-height: 1.625rem;
    --description-margin-block: 1.1rem;
}


/*  =================
    BASE
    ================= */

html {
    font-size: 18px;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    color: var(--gray-500);
    text-align: center;

    background-image: url('../assets/images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: contain;
}


/*  =================
    ELEMENTS & STYLING
    ================= */

/* header */
header {
    margin-block: 7.2rem 3.2rem;
}

header .clipboard-logo {
    width: 7rem;
    margin: 0 auto;
}

/* hero */

h1,
h2,
h3 {
    color: var(--gray-700);
}

.hero__title {
    font-size: 2.46rem;
}

.hero__description {
    font-size: 1.125rem;
    margin-block: var(--description-margin-block);
    padding-inline: var(--description-padding-inline);
    line-height: var(--description-line-height);
}

.downloads {
    margin-block: 3.5rem 5rem;
}

.downloads__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
}

.downloads__list a {
    border-radius: 3rem;
    padding: 0.9rem 2rem;
    font-weight: 600;
    color: var(--white);
    letter-spacing: 0.02rem;
}

.downloads__ios {
    background-color: var(--green-500);
}

.downloads__mac {
    background-color: var(--blue-100);
}

.snippets__title,
.access-clipboard__title,
.workflow__title {
    margin-block-start: var(--h2-margin-block-start);
    font-size: var(--h2-font-size);
    letter-spacing: var(--h2-letter-spacing);

}

.snippets__description,
.access-clipboard__description,
.workflow__description {
    margin-block-start: var(--description-margin-block);
    padding-inline: var(--description-padding-inline);
    line-height: var(--description-line-height);
    font-size: 1.02rem;
}


/* snippets */

.snippets {
    padding-block: 1rem;
}

.snippets__features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: start;
    margin-block-start: 3.5rem;
    padding-block: 1rem;
}

.snippets__features-img img {
    overflow: hidden;
    margin-inline-start: -2rem;
    width: 105%;
}

.snippets__feature-list {
    padding: 3.8rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.snippets__feature-item {
    display: inherit;
    flex-direction: inherit;
    gap: 0.5rem;
}

.snippets__feature-title {
    font-size: 1.3rem;
}

.snippets__feature-description {
    font-size: 0.9rem;
    padding-inline-end: 9.2rem;
    line-height: var(--description-line-height);
}


/* access clipboard */

.access-clipboard {
    margin-block-start: 5.8rem;
}

.access-clipboard__img {
    padding-inline: 14.8rem;
    padding-block-start: 5.5rem;
}


/* workflow */

.workflow {
    margin-block-start: 4.2rem;
}

.workflow__feature-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 2rem 8rem;
}

.workflow__feature-card {
    display: grid;
    grid-template-rows: 1fr auto auto;
    place-items: center;
}

.workflow__feature-card-icon {
    padding: 0.2rem;
    width: 2.5rem;
}

.workflow__feature-cards-title {}

.workflow__feature-card-description {}