/*  ===========================
        CSS RESET
    =========================== */

/* 1. More intuitive box modelling. Reset margin and padding */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 2. Improve media defaults */
img,
video,
figure {
    display: block;
    width: 100%;
    
}

/* 3. Improve line wrap */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* 4. Improve fonts properties for form */
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}

/* 5. Improve list styling */
ul,
ol {
    list-style-type: none;
}