/*  ==================
    FONT 
    ================== */

/* League Spartan -  400 */
@font-face {
    font-family: 'League Spartan';
    src: url('../assets/fonts/league-spartan-v15-latin/league-spartan-v15-latin-regular.woff2') format('woff2');
    font-style: normal;
    font-weight: regular;
    font-display: swap;
}

/* League Spartan -  500 */
@font-face {
    font-family: 'League Spartan';
    src: url('../assets/fonts/league-spartan-v15-latin/league-spartan-v15-latin-500.woff2') format('woff2');
    font-style: normal;
    font-weight: medium;
    font-display: swap;
}

/* League Spartan -  700 */
@font-face {
    font-family: 'League Spartan';
    src: url('../assets/fonts/league-spartan-v15-latin/league-spartan-v15-latin-700.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}


/*  ==================
    CSS VARIABLES 
    ================== */

:root {
    /* ### Primary colors */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /* ### Neutral colors*/
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}


/*  ==================
    BASE 
    ================== */

html {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
}

body {

    background-image: url('../assets/images/bg-pattern-top-desktop.svg'), url('../assets/images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
    background-position: top left, bottom right;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: antiquewhite;
}

/*  ==========================
    LAYOUT& ELEMENTS
    ========================== */

.social-proof {
    max-width: 80vw;
    width: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: azure;
}

.social-proof__intro {
    display: grid;
    grid-template-columns: 4fr 5fr;
    gap: 4rem;
    margin-block-end: 1rem;
}

.social-proof__header {
    padding: 1.5rem;
}

.social-proof__title {
    font-size: 3.7rem;
    font-weight: 700;
    letter-spacing: -0.1rem;
    line-height: 3.2rem;
    color: var(--very-dark-magenta);
    margin-block-start: 1rem;
    margin-block-end: 1.9rem;
    word-spacing: -0.1rem;
}

.social-proof__description{
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-weight: medium;
    word-spacing: -0.1rem;
    color: var(--dark-grayish-magenta);
}

.social-proof__ratings {
    padding: 1rem;
}

.social-proof__ratings-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block-start: 2rem;
    margin-inline-start: 0.8rem;
    padding: 1.35rem;
}

.social-proof__rating-item {
    background-color: var(--light-grayish-magenta);
    color: var(--very-dark-magenta);

    display: flex;
    align-items: center;
    gap: 2.05rem;

    padding: 1.35rem 2rem;
    width: min(85%, 30rem);
    border-radius: 0.5rem;

    font-weight: bold;
    font-size: 1.15rem;
    margin-block-start: 0.12rem;
}

.social-proof__rating-item:nth-child(2) {
    margin-inline-start: 3rem;
}

.social-proof__rating-item:nth-child(3) {
    margin-inline-start: 6.3rem;
}

.social-proof__rating-stars {
    display: flex;
    gap: 0.5rem;
}

.social-proof__testimonials {
    background-color: rgb(224, 225, 197);
    padding: 1rem;
    margin-block-start: 1rem;

    display: flex;
    justify-content: space-around;
    gap: 2.5rem;
}

.testimonial {
    background-color: var(--very-dark-magenta);
    color: var(--light-grayish-magenta);
    padding: 3rem 2rem;
    width: fit-content;
}

.testimonial__profile {
    display: flex;
    gap: 2rem;

}

.testimonial__avatar {
    width: 2.5rem;
    border-radius: 50%;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: circle(0);
    white-space: nowrap;
    border: 0;
}

.attribution {
    position: absolute;
    bottom: 1%;

}