/*  ==================
    FONT 
    ================== */

/* League Spartan -  400 */
@font-face {
    font-family: 'League Spartan';
    src: url('../assets/fonts/league-spartan-v15-latin/league-spartan-v15-latin-regular.woff2') format('woff2');
    font-style: normal;
    font-weight: regular;
    font-display: swap;
}

/* League Spartan -  500 */
@font-face {
    font-family: 'League Spartan';
    src: url('../assets/fonts/league-spartan-v15-latin/league-spartan-v15-latin-500.woff2') format('woff2');
    font-style: normal;
    font-weight: medium;
    font-display: swap;
}

/* League Spartan -  700 */
@font-face {
    font-family: 'League Spartan';
    src: url('../assets/fonts/league-spartan-v15-latin/league-spartan-v15-latin-700.woff2') format('woff2');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}


/*  ==================
    CSS VARIABLES 
    ================== */

:root {
    /* ### Primary colors */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /* ### Neutral colors*/
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}


/*  ==================
    BASE 
    ================== */

html {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
}

body {
    background-image: url('../assets/images/bg-pattern-top-desktop.svg'), url('../assets/images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: auto, auto;
    background-position: top left, bottom right;

    display: grid;
    place-items: center;
    min-height: 100vh;
}


/*  ==========================
    LAYOUT& ELEMENTS
    ========================== */

.social-proof__rating-stars img,
.testimonial__avatar {
    width: auto;
}

.social-proof__rating-stars {
    display: flex;
}

.social-proof {
    max-width: 80vw;
    width: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-rows: 1fr 1fr;

}

.social-proof__intro {
    display: grid;
    grid-template-columns: 3fr 4fr;
}

.social-proof__header {
    background-color: rgb(225, 213, 197);
}

.social-proof__ratings {
    background-color: rgb(197, 225, 202);
}

.social-proof__testimonials {
    background-color: rgb(224, 225, 197);

}