:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);


    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.feature-pre-section--heading {
    font-size: 2.2rem;
    font-weight: 200;
}

.feature-section--heading {
    color: var(--grey-500);
    font-size: 2.2rem;
}

.feature-section-description {
    max-width: 34rem;
    width: 100%;

    text-align: center;

    color: var(--grey-500);

    margin: 1rem
}

.feature-card--wrapper {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(260px, 1fr));
}




aside {
    position: fixed;
    bottom: 0;

    margin-bottom: 1rem;

    color: var(--grey-400);

    font-size: 0.8rem;
}

aside a {
    color: var(--grey-500);
}

aside a:hover {
    color: var(--blue);
}