/*  ===================
    CUSTOM FONT
    =================== */

/* DM Sans normal Variable Font */
@font-face {
    font-family: 'DM Sans';
    src: url(../assets/fonts/DMSans-VariableFont.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* DM Sans italic Variable Font */
@font-face {
    font-family: 'DM Sans';
    src: url(../assets/fonts/DMSans-Italic-VariableFont.ttf) format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}


/*  ===================
    VARIABLES
    =================== */

:root {
    /* colors */
    --purple-100: hsl(254, 88%, 90%);
    --purple-500: hsl(256, 67%, 59%);

    --yellow-100: hsl(31, 66%, 93%);
    --yellow-500: hsl(39, 100%, 71%);

    --body-background: whitesmoke;
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
}


/*  ===================
    BASE
    =================== */

html {
    font-size: 18px;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--body-background, hsl(0, 0%, 96%));

    display: grid;
    place-items: center;
    min-height: 100vh;
}


/*  ===================
    LAYOUT & STYLING
    =================== */

.bento-grid {
    width: 100%;
    max-width: 93%;
    margin-block-start: 2rem;
    margin-inline-start: 0.3rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    gap: 2rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}

.card {
    padding: 1rem;
    border-radius: 0.7rem;
}


/* stars-rating */

.stars-rating {
    background-color: var(--purple-500);
    padding: 2rem;
    color: var(--white);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}

.stars-rating__title {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2.3rem;
    letter-spacing: 0.05rem;
}

.stars-rating__title--yellow {
    font-weight: 500;
    color: var(--yellow-500);
}

.stars-rating__figure {
    max-width: 90%;
    width: 100%;
}

.stars-rating__image {
    max-width: 80%;
    margin: 0 auto;
    margin-block-end: 0.3rem;
}


/* multiple-platforms */

.multiple-platforms {
    background-color: var(--white);
    padding: 0.8rem 0.6rem 0.8rem 1rem;

    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}

.multiple-platforms__title {
    font-size: 1.4rem;
    text-wrap: wrap;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 1.3rem;
}

.multiple-platforms__image {
    border-radius: 2rem;
}


/* consistent schedule */

.consistent-schedule {
    background-color: var(--yellow-500);
    padding-block: 0.7rem 0;
    padding-inline-end: 3rem;
    overflow: hidden;
    min-height: 12rem;
}

.consistent-schedule__title {
    font-size: 1.4rem;
    letter-spacing: -0.08rem;
    line-height: 1.4rem;
}

.consistent-schedule__image {
    margin-block-start: 0.8rem;
    max-width: 77%;
}


/* schedule posts */

.schedule-posts {
    background-color: var(--purple-100);
    text-align: center;
    padding-block-start: 1.2rem;
}

.schedule-posts__title {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: -1px;
    margin-block-end: 1rem;
}

.schedule-posts__description {
    max-width: 96%;
    margin-block-start: 1.4rem;
    line-height: 1.1rem;
    padding-block-end: 1rem;
}


/* grow followers */

.grow-followers {
    background-color: var(--purple-500);
    color: white;
    padding: 1.2rem 3rem;

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.grow-followers__title {
    text-align: center;
    font-weight: 500;
    font-size: 1.6rem;
    text-wrap: wrap;
    line-height: 1.6rem;
}


/* audience growth */

.audience-growth {
    background-color: var(--white);
    padding: 0.7rem 5rem 1rem 1.3rem;
}

.audience-growth__title {
    font-size: 1rem;
    font-weight: 500;
}

.audience-growth__percentage {
    font-size: 2.5rem;
    display: block;
    font-weight: 600;
}

.audience-growth__image {
    max-width: 80%;
    margin-block-start: 1.5rem;
}


/* create post */

.create-post {
    background-color: var(--yellow-100);
    padding: 1.5rem 1.2rem 1.5rem 1.8rem;
}

.create-post__title {
    font-weight: 700;
    font-size: 1.7rem;
    letter-spacing: -1px;
    line-height: 1.7rem;
}

.create-post__title--purple {
    color: var(--purple-500);
}

.create-post__image {
    max-width: 65%;
    margin-block-start: 1.2rem;
}


/* ai content */

.ai-content {
    background-color: var(--yellow-500);
    padding: 1.3rem 3rem 0.9rem 1.2rem;
}

.ai-content__title {
    font-size: 1.7rem;
    letter-spacing: -1px;
    line-height: 1.7rem;
    text-wrap: wrap;
}

.ai-content__image {
    max-width: 83%;
    margin-block-start: 1.2rem;
}


/* attribution */

.attribution {
    font-size: 0.7rem;
    font-weight: 500;
    margin-block-start: 1rem;
}

.attribution a {
    color: rgb(225, 139, 26);
    transition: color 0.2s ease-in-out;
}

.attribution a:hover,
.attribution a:focus {
    color: rgb(163, 50, 163);
}

@media (min-width: 576px) {
    .bento-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 2rem;
    }

    .stars-rating {
        grid-area: 1 / 1 / span 2 / span 1;
    }

    .schedule-posts {
        grid-area: 3 / 2 / span 2 / span 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .grow-followers {
        grid-area: 5 / 2 / span 1 / span 1;
    }

    .grow-followers__title {
        font-size: 1.3rem;
    }
}

@media (min-width: 768px) {
    .bento-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 2rem;
    }

    .stars-rating {
        grid-area: 1 / 1 / span 1 / span 2;
    }

    .consistent-schedule {
        grid-area: 1 / 3 / span 1 / span 1;
    }

    .schedule-posts {
        grid-area: 2 / 1 / span 2 / span 1;
    }

    .multiple-platforms {
        grid-area: 4 / 1 / span 1 / span 1;
    }

    .grow-followers {
        grid-area: 3 / 3 / span 2 / span 1;
    }

    .ai-content {
        grid-area: 3 / 2 / span 2 / span 1;
    }
}

@media (min-width: 1024px) {

    .bento-grid {
        max-width: 78%;
        width: 100%;

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 3.2rem 8.2rem auto;
        grid-template-areas:
            'create-post stars-rating stars-rating schedule-post'
            'create-post multiple-platforms consistent-schedule schedule-post'
            'ai-content multiple-platforms consistent-schedule schedule-post'
            'ai-content audience-growth grow-followers grow-followers';
            align-content: center;
        margin-block-start: 4rem;
    }


    /* create post */

    .create-post {
        grid-area: create-post;

        padding-inline: 1.6rem;
        padding-block-start: 1.625rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .create-post__title {
        font-size: 2.2rem;
        font-weight: 600;
        letter-spacing: -0.12rem;
        line-height: 2rem;
    }

    .create-post__image {
        min-width: 100%;
        height: auto;
        padding-inline: 0;
    }


    /* stars rating */

    .stars-rating {
        grid-area: stars-rating;
        padding-block: 3.5rem 3.2rem;
        gap: 1.5rem;
    }

    .stars-rating__title {
        font-size: 3.5rem;
        letter-spacing: -0.03rem;
        line-height: 3.2rem;
    }

    .stars-rating__image {
        max-width: 10.625rem;
    }


    /* schedule posts */

    .schedule-posts {
        grid-area: schedule-post;

        text-align: start;
        padding: 0 0 0 1.5rem;
        overflow: hidden;
    }

    .schedule-posts__title {
        font-size: 1.8rem;
        letter-spacing: -0.1rem;
        line-height: 1.5rem;
        margin-block-end: 1.5rem;
    }

    .schedule-posts__image {
        width: 20rem;
        height: auto;
        object-fit: cover;
        margin: 0 auto;
    }

    .schedule-posts__description {
        max-width: 90%;
        margin-block-start: 1rem;
        line-height: 1.1rem;
        letter-spacing: 0.01rem;
        padding-block-end: 0;
    }


    /* ai content */

    .ai-content {
        grid-area: ai-content;
        padding: 1.2rem 0.5rem 1rem 1.3rem;
    }

    .ai-content__title {
        font-size: 2.2rem;
        letter-spacing: -0.15rem;
        line-height: 2rem;
        padding-inline-end: 1rem;
        margin-block-end: 3rem;
    }

    .ai-content__image {
        max-width: 100%;
    }


    /* multiple platforms */

    .multiple-platforms {
        grid-area: multiple-platforms;

        padding: 1rem 0rem 0.8rem 1.3rem;
        overflow: hidden;
        justify-content: start;
        gap: 1.4rem;
    }

    .multiple-platforms__title {
        font-size: 2rem;
        letter-spacing: -0.18rem;
        line-height: 1.55rem;
        padding-inline-end: 1rem;
    }

    .multiple-platforms__image {
        min-width: 17.5rem;
        height: auto;
        object-fit: cover;
    }


    /* consistent schedule */

    .consistent-schedule {
        grid-area: consistent-schedule;

        padding: 1.2rem 1.3rem 0;
        overflow: hidden;
        min-height: 12rem
    }

    .consistent-schedule__title {
        font-size: 1.8rem;
        letter-spacing: -0.12rem;
        line-height: 1.6rem;
    }

    .consistent-schedule__image {
        max-width: 100%;
    }


    /* grow followers */

    .grow-followers {
        grid-area: grow-followers;

        padding: 1.2rem;
        display: flex;
        flex-direction: row-reverse;
        gap: 0.5rem;
    }

    .grow-followers__title {
        text-align: start;
        font-size: 2.2rem;
        line-height: 2rem;
    }

    .grow-followers__image {
        width: 13rem;
    }


    /* audience growth */

    .audience-growth {
        grid-area: audience-growth;
        padding: 0.8rem 1rem 1rem 1.3rem;
    }

    .audience-growth__title {
        font-size: 1rem;
        font-weight: 500;
    }

    .audience-growth__percentage {
        font-size: 3.5rem;
        letter-spacing: -0.1rem;
    }

    .audience-growth__image {
        max-width: 88%;
        margin-block-start: 2rem;
    }

    .attribution {
        position: absolute;
        bottom: 1%;
    }
}