:root {
    /* primary colors */
    --blue-100: hsl(225, 100%, 94%);
    --blue-700: hsl(245, 75%, 52%);

    /* neutral colors */
    --blue-50: hsl(225, 100%, 98%);
    --gray-600: hsl(224, 23%, 55%);
    --blue-950: hsl(223, 47%, 23%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    min-width: 768px;
    background-size:contain;
    background-color: var(--blue-100);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.summary-card {
    width: 500px;
    max-width: 90%;
    background-color: var(--blue-50);
    display: grid;

}
