:root {
    --bg-color: hsl(0, 0%, 95%);
    --card-radius: 8px;
    --orange: hsl(31, 77%, 52%);
    --teal: hsl(184, 100%, 22%);
    --dark: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-wrap {
    width: 60vw;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    padding: 48px;
}

.card--orange {
    background-color: var(--orange);
    border-top-left-radius: var(--card-radius);
    border-bottom-left-radius: var(--card-radius);
}

.card--teal {
    background-color: var(--teal);
}

.card--dark {
    background-color: var(--dark);
    border-top-right-radius: var(--card-radius);
    border-bottom-right-radius: var(--card-radius);
}

.card__icon {
    margin-bottom: 20px;
}

.card__icon img {
    display: block;
}

.card__title {
    font-family: "Big Shoulders", sans-serif;
    font-weight: 700;
    color: var(--bg-color);
    margin: 30px 0;
}

.card__text {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--transparent-white);
    margin: 30px 0;
}

.btn {
    display: inline-block;
    padding: 10px 25px;
    margin: 60px 0 5px 0;
    background-color: var(--bg-color);
    text-decoration: none;
    border-radius: 50px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    border: 2px solid var(--bg-color);
}

.card--orange .btn {
    color: var(--orange);
}

.card--teal .btn {
    color: var(--teal);
}

.card--dark .btn {
    color: var(--dark);
}

.card .btn:hover,
.card .btn:focus-visible {
    color: var(--bg-color);
    border: 2px solid var(--bg-color);
}

.card--orange .btn:hover,
.card--orange .btn:focus-visible {
    background-color: var(--orange);
}

.card--teal .btn:hover,
.card--teal .btn:focus-visible {
    background-color: var(--teal);
}


.card--dark .btn:hover,
.card--dark .btn:focus-visible {
    background-color: var(--dark);
}

.attribution {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 12px;
}

@media (max-width: 768px) {

    .page {
        height: auto;
        padding: 2rem 1rem;
        align-items: flex-start;
    }

    .card-wrap {
        width: 90vw;
        height: auto;
        grid-template-columns: 1fr;
    }

    .card--orange {
        border-top-left-radius: var(--card-radius);
        border-top-right-radius: var(--card-radius);
        border-bottom-left-radius: 0;
    }

    .card--dark {
        border-bottom-left-radius: var(--card-radius);
        border-bottom-right-radius: var(--card-radius);
        border-top-right-radius: 0;
    }

    .btn {
        display: inline-block;
        margin: 10px 0 5px 0;
    }

}