/*  ===========================
        FONTS
    =========================== */

/* hanken-grotesk-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 500;
    /* medium */
    src: url('../assets/fonts/static/HankenGrotesk-Medium.ttf') format('truetype');
}

/* hanken-grotesk-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/static/HankenGrotesk-Bold.ttf') format('truetype');
}

/* hanken-grotesk-800 - latin */
@font-face {
    font-display: swap;
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/static/HankenGrotesk-ExtraBold.ttf') format('truetype');
}


/*  ===========================
        CSS RESET
    =========================== */

/* 1. Using more intuitive box modelling, resetting padding and margin  */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* 2. Imporve media defaults */
img,
video,
figure {
    display: block;
    width: 100%;
}

/* 3. Improve line wrapping */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* 4. Inherit font properties for forms */
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}

/* 5. Improve list styling */

ul,
ol {
    list-style-type: none;
}

/*  ===========================
        CSS VARIABLES
    =========================== */

:root {

    /* Primary */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* Gradients  */
    --light-slate-blue: hsl(252, 100%, 67%);
    /* background */
    --light-royal-blue: hsl(241, 81%, 54%);
    /* background */

    --violet-blue: hsla(256, 72%, 46%, 1);
    /* circle */
    --persian-blue: hsla(241, 72%, 46%, 0);
    /* circle */

    /* Neutral  */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    --border-radius: 1.6rem;
}

/*  ===========================
        BASE
    =========================== */

html {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-color: var(--pale-blue);
}

.card {
    max-width: 92%;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--white);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.card__section {
    min-width: 49%;
    width: 100%;
}

.card__result {
    position: relative;
    width: 100%;
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
    border-radius: var(--border-radius);
    text-align: center;
}

.card__result::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 50%;
    width: 11rem;
    height: 11rem;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1;

    background: linear-gradient(var(--violet-blue), var(--persian-blue));
    border-radius: 50%;
}

.card__result-title {
    color: var(--light-lavender);
    margin: 1.9rem auto 1rem;
    font-size: 1.35rem;
    padding-bottom: 0.5rem;
}

.card__result-score {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;

    margin: 4.1rem auto;
}

.card__result-score-achieved {
    font-size: 3.7rem;
    font-weight: 900;
    color: var(--white);
}

.card__result-score-total {
    font-size: 1rem;
    color: var(--light-slate-blue);
}

.card__result-score-label {
    color: var(--white);
    font-size: 1.7rem;
    margin-bottom: 0.4rem;
    padding-bottom: 0.3rem;
}

.card__result-description {
    color:var(--light-lavender);
    padding: 0rem 2rem;
    margin: 0.5rem auto 2.8rem ;
    max-width:90%
}

.card__summary {
    background: var(--white);
}

.card__summary-title {
    color: var(--dark-gray-blue);
    margin: 1.9rem auto 1rem;
    font-size: 1.35rem;
    padding-left: 2rem;
}

.card__summary-list {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}




.card__summary-item img {
    display: inline-block;
    width: auto;
}






.attribution {
    color: var(--dark-gray-blue);
    font-size: 0.8rem;

    position: fixed;
    bottom: 0;
    margin-bottom: 1rem;
}