/*  ===========================
        FONTS
    =========================== */

/* hanken-grotesk-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 500;
    /* medium */
    src: url('../assets/fonts/static/HankenGrotesk-Medium.ttf') format('truetype');
}

/* hanken-grotesk-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/static/HankenGrotesk-Bold.ttf') format('truetype');
}

/* hanken-grotesk-800 - latin */
@font-face {
    font-display: swap;
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/static/HankenGrotesk-ExtraBold.ttf') format('truetype');
}


/*  ===========================
        CSS RESET
    =========================== */

/* 1. Using more intuitive box modelling, resetting padding and margin  */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* 2. Imporve media defaults */
img,
video,
figure {
    display: block;
    width: 100%;
}

/* 3. Improve line wrapping */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* 4. Inherit font properties for forms */
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
}

/* 5. Improve list styling */

ul,
ol {
    list-style-type: none;
}

/*  ===========================
        CSS VARIABLES
    =========================== */

:root {

    /* Primary */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* Gradients  */
    --light-slate-blue: hsl(252, 100%, 67%);
    /* background */
    --light-royal-blue: hsl(241, 81%, 54%);
    /* background */

    --violet-blue: hsla(256, 72%, 46%, 1);
    /* circle */
    --persian-blue: hsla(241, 72%, 46%, 0);
    /* circle */

    /* Neutral  */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    --light-red-bg: hsl(353.33, 100%, 98.24%);
    --light-yellow-bg: hsl(36, 100%, 98.04%);
    --light-green-bg: hsl(156, 62.5%, 96.86%);
    --light-blue-bg: hsl(234.55, 100%, 97.84%);




    --border-radius: 1.6rem;
}

/*  ===========================
        BASE
    =========================== */

html {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-color: var(--pale-blue);
}

.card {
    max-width: 42rem;
    width: 98%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: 0.2rem 0.2rem 4rem var(--light-lavender);
}

.card__section {
    min-width: 49%;
    width: 100%;
}

.card__result {
    position: relative;
    width: 100%;
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
    border-radius: var(--border-radius);
    text-align: center;
}

.card__result::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 50%;
    width: 11rem;
    height: 11rem;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1;

    background: linear-gradient(var(--violet-blue), var(--persian-blue));
    border-radius: 50%;
}

.card__result-title {
    color: var(--light-lavender);
    margin: 2rem auto 1rem;
    font-size: 1.35rem;
    padding-bottom: 0.5rem;
}

.card__result-score {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;

    margin: 4.1rem auto;
}

.card__result-score-achieved {
    font-size: 3.7rem;
    font-weight: 900;
    color: var(--white);
}

.card__result-score-total {
    font-size: 1rem;
    color: var(--light-slate-blue);
}

.card__result-score-label {
    color: var(--white);
    font-size: 1.7rem;
    margin-bottom: 0.4rem;
    padding-bottom: 0.3rem;
}

.card__result-description {
    color: var(--light-lavender);
    padding: 0rem 2rem;
    margin: 0.5rem auto 2.8rem;
    max-width: 90%;
}

.card__summary {
    background-color: inherit;
}

.card__summary-title {
    color: var(--dark-gray-blue);
    font-size: 1.35rem;
    padding-left: 2rem;
}

.card__summary-list {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.7rem;

    max-width: 16rem;
    width: 95%;
    margin: 1.6rem auto 0;
}

.card__summary-item {
    width: 100%;
    padding: 0.95rem 0.5rem 0.95rem 0.9rem;
    border-radius: 0.7rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__summary-item:nth-child(1) {
    background-color: var(--light-red-bg);
}

.card__summary-item:nth-child(1) .card__summary-name {
    color: var(--light-red);
}

.card__summary-item:nth-child(2) {
    background-color: var(--light-yellow-bg);
}

.card__summary-item:nth-child(2) .card__summary-name {
    color: var(--orangey-yellow);
}


.card__summary-item:nth-child(3) {
    background-color: var(--light-green-bg);
}

.card__summary-item:nth-child(3) .card__summary-name {
    color: var(--green-teal);
}


.card__summary-item:nth-child(4) {
    background-color: var(--light-blue-bg);
}

.card__summary-item:nth-child(4) .card__summary-name {
    color: var(--cobalt-blue);
}

.card__summary-item img {
    display: inline-block;
    width: auto;
}

.card__summary-label {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.card__summary-score strong {
    color: var(--dark-gray-blue);
}

.card__summary-score {
    padding-right: 0.3rem;
    color: lightslategray;
}

.card__cta-button {
    display: block;
    margin: 2.5rem auto 0.5rem;
    padding: 0.8rem;

    max-width: 16rem;
    width: 95%;
    border-radius: 5rem;
    background-color: var(--dark-gray-blue);
    color: var(--white);

    transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.card__cta-button:hover,
.card__cta-button:focus {
    background: Var(--light-royal-blue);
    border-color: var(--light-royal-blue);
    cursor: pointer;
}

.card__cta-button:focus {
    outline: 2px solid var(--light-slate-blue);
}

.attribution {
    color: var(--dark-gray-blue);
    font-size: 0.8rem;

    position: fixed;
    bottom: 0;
    margin-bottom: 1rem;
}

.attribution a {
    text-decoration: none;
    color: var(--cobalt-blue);
}

.attribution a:hover,
.attribution a:focus {
    color: var(--light-slate-blue);
}

/*  =========================================
        FOR DEVICES WITH SCREEN WIDTH < 800px
    ========================================= */

@media (max-width: 800px) {

    .card {
        max-width: 36rem;
        width: 95%;
    }

    .card__summary-list,
    .card__cta-button {
        max-width: 80%;
    }
}

/*  =========================================
        FOR DEVICES WITH SCREEN WIDTH < 600px
    ========================================= */

@media (max-width: 600px) {

    html {
        font-size: 16px;
    }

    body {
        flex-direction: column;
        min-height: auto;
    }

    .card {
        min-width: 100%;
        flex-flow: column;
        border-radius: none;
    }

    .card__section {
        min-width: 100%;
    }

    .card__result {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: calc(var(--border-radius) + 5px);
        border-bottom-right-radius: calc(var(--border-radius) + 5px);
    }

    .card__result-title {
        font-size: 1.2rem;
        font-weight: 900;
        margin-top: 1.5rem;
    }

    .card__result::before {
        top: 39%;
        width: 9rem;
        height: 9rem;
    }

    .card__result-score {
        margin: 2.5rem auto;
    }

    .card__result-score-label {
        color: var(--white);
        font-size: 1.4rem;
    }

    .card__result-description {
        margin: 0.5rem auto 2.6rem;
    }

    .card__summary {
        max-width: 100%;
        width: 95%;
    }

    .card__summary-title {
        margin-top: 1.2rem;
        font-size: 1.2rem;
    }

    .card__summary-list {
        gap: 1.2rem;
        max-width: 82%;
        width: 100%;
    }

    .card__summary-item {
        padding: 1rem;
        padding-right: 0.6rem;
    }

    .card__cta-button {
        display: block;
        margin:auto;
        margin-top: 1.6rem;
        padding: 1rem;

        max-width: 85%;
        width: 95%;
        border-radius: 6rem;
    }

    .attribution {
        background-color: var(--white);
        bottom: auto;

        position: static;
        margin: 0 auto;
        padding-top: 0.6rem; 
        text-align: center;
        width: 100%;
    }
}