/* poppins-200 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('../assets/fonts/poppins-v24-latin-200.woff2') format('woff2');
}

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/poppins-v24-latin-regular.woff2') format('woff2');
}

/* poppins-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/poppins-v24-latin-600.woff2') format('woff2');
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);


    --grey-500: hsl(234, 12%, 34%);
    --grey-400: hsl(212, 6%, 44%);
    --white: hsl(0, 0%, 100%);
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 5% auto 0;
    background: rgb(244, 244, 244);
}

.feature-card__header {
    margin: auto;
    text-align: center;

    color: var(--grey-500);
}

.feature-card__title {
    font-size: 2.2rem;
}

.feature-card__tagline {
    font-size: 2.2rem;
    font-weight: 200;
}

.feature-card__main {
    margin: 1em auto;
    max-width: 70%;
    width: 95%;
}

.feature-card__description {
    text-align: center;
    margin: auto;
    color: var(--grey-500);
    width: 50%;
}

.feature-card {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    gap: 2.3rem;
    margin: 3rem auto;
}

.feature-card__feature {
    border-radius: 0.5em;
    box-shadow: 0 0.1em 0.9em rgb(200, 214, 228);
    padding: 1.5rem 1rem 2rem 2rem;
    background-color: var(--white);
    width: 100%;
    
}

.feature-card__feature:nth-child(1) {
    grid-area: 2 / 1 / 4;
    border-top: 4px solid var(--cyan);
}

.feature-card__feature:nth-child(2) {
    grid-area: 1 / 2 / 3;
    border-top: 4px solid var(--red);
}

.feature-card__feature:nth-child(3) {
    grid-area: 3 / 2 / 5;
    border-top: 4px solid var(--orange);
}

.feature-card__feature:nth-child(4) {
    grid-area: 2 / 3 / 4;
    border-top: 4px solid var(--blue);
}

.feature-card__feature-icon {
    justify-self: flex-end;
}

.feature-card__feature-icon img {
    width: 85%;
    height: auto;
}

.feature-card__feature-title {
    color: var(--grey-500);
}

.feature-card__feature-description {
    color: var(--grey-400);
    padding-right: 0.5rem;
    margin: 0.4em auto;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.feature-card__feature-icon {
    margin-top: 0.5em;
}

.attribution {
    color: var(--grey-400);
    font-size: 0.9rem;
    text-align: center;
    margin: 5em auto 0;
}

.attribution a {
    color: var(--blue);
}

.attribution a:hover {
    color: var(--grey-500);
}

@media (max-width: 850px) {

    .feature-card__description {
        width: 95%;
    }

    .feature-card {
        display: flex;
        flex-flow: column;
        gap: 2em;
        margin: 3em auto;
        max-width: 30em;
    }
}


@media (max-width: 450px) {

    .feature-card__header {
        margin: 4em 1em 1em;
        padding: 0 0.3em;
    }

    .feature-card__title {
        font-size: 1.8rem;
    }

    .feature-card__tagline {
        font-size: 1.8rem;
    }

    .feature-card__main {
        max-width: 85%;
        width: 100%;
    }

    .attribution {
        margin: 2em auto;
        padding: 0 3em;
    }
}