/*  ===========================
        FONTS
    =========================== */

@font-face {
    font-display: swap;
    font-family: 'Figtree';
    font-style: normal;
    font-weight: 100 900;
    src: url('../assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}


/*  ===========================
        CSS RESET
    =========================== */


/* 1. Using more intuitive box-modelling and reset margin & padding */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* 2. improve media defaults */
img,
picture,
video {
    display: block;
    max-width: 100%;
}


/* 3. improve line wrapping */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* p {
    text-wrap: pretty;
} */


/* 4. inherit font properties for forms */
input,
button,
text-area,
select {
    font-family: inherit;
    font-size: inherit;
}


/* 5. imporove list styling */
ul,
li {
    list-style-type: none;
}


/*  ==========================
        CSS VARIABLES
    ========================== */

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}


/*  ==========================
        BASE
    ========================== */

html {
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-color: var(--yellow);
}

/*  ==========================
        LAYOUT& ELEMENTS
    ========================== */

.card {
    max-width: 50%;
    width: 95%;
    margin: 0 auto;
    padding: 1.2rem;

    background-color: var(--white);
    border: 0.1rem solid var(--gray-950);
    border-radius: 1rem;
    box-shadow: 0.4rem 0.4rem 0 0.04rem var(--gray-950);
}

.card__image {
    border-radius: 0.7rem;
    margin-bottom: 1.6rem
}

.card__label {
    background-color: var(--yellow);
    padding: 0.3rem 0.8rem;
    border-radius: 0.3rem;
    font-weight: 800;
}

.card__time {
    display: block;
    margin: 1rem 0 0.8rem;;
    font-size: 0.9rem;
    font-weight: 500;
}

.card a {
    text-decoration: none;
}

.card a:link {
    color: var(--gray-950);
}

.card a:visited {
    color: var(--gray-950);
}

.card a:hover {
    color: var(--yellow);
    cursor: pointer;
}

.card a:active {
    color: var(--gray-950);
}

.card a:focus {
    outline: 0.4rem solid var(--gray-950);
    color: var(--yellow);
}

/*  Pneumonic for order of pseudo classes of anchor tag: 
    "Let Visitors Have A Focus" = link, visited, hover, active, focus  */

.card__title {
    font-weight: 900;
    font-size: 1.5rem;
}

.card__description {
    color: var(--gray-500);
    margin: 1rem 0 1.5rem;
    line-height: 1.5rem;
}

.card-author {
    display: flex;
    flex-flow: flex-start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.2rem;
}

.card-author__avatar {
    max-width: 11%;
}

.card-author__name {
    font-weight: 700;
}


.attribution {
    position: fixed;
    bottom: 0;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    color: var(--gray-500);
}

.attribution a {
    text-decoration: none;
    color: var(--gray-950);
}

.attribution a:hover {
    color: var(--white);
}

.attribution a:focus {
    color: var(--white);
    outline: 0.1rem solid var(--gray-950);      
}

@media (max-width: 700px) {

    .card {
        max-width: 25rem;
        width: 90%
    }
}

@media (max-width: 380px) {

    .card {
        font-size: 0.9rem;
    }
}