:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);

    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

html {
    font-family: Inter, sans-serif;
    font-size: 14px;
    color: white;
    text-align: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--grey-900);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    background-color: var(--grey-800);
    width: 90%;
    max-width: 380px;
    margin: 5px auto;
    padding: 1.5rem 2rem;
    border-radius: 0.8rem;
}

.profile-picture {
    max-width: 100px;
    border-radius: 50%;
    margin: 1.2rem;
    border: 1px solid var(--green);
}

.full-name {
    font-size: 1.7rem;
}

.address {
    font-size: 1rem;
    font-weight: 600;
    color: var(--green);
    margin: 0.7rem auto 1.2rem;
}

.designation {
    margin: 2rem auto 1rem;
}

.social-media-links {
    margin: 1.5rem auto 0;
}

.social-media-links ul {
    list-style-type: none;
}

.social-media-links li {
    line-height: 2;
}

a {
    text-decoration: none;
}

.social-link {
    font-weight: 700;
    background-color: var(--grey-700);
    display: inline-block;
    width: 95%;
    margin: 0.5rem 0.4rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border-color: var(--green);
}

.social-link:link {
    color: white;
}

.social-link:visited {
    color: white;
}

.social-link:hover,
.social-link:focus {
    background-color: var(--green);
    color: var(--grey-700);
    scale: 1.01;
    cursor: pointer;
}

.social-link:focus {
    outline: 1px solid var(--green);    
}

.social-link:active {
    color: rosybrown;
}

.attribution {
    position: fixed;
    bottom: 0;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.attribution a {
    color: var(--green);
}

.attribution a:hover,
.attribution a:focus {
    color: white;
    cursor: pointer;
}

.attribution a:active {
    color: rosybrown;
}


@media (max-width: 400px) {
    .profile-container {
        min-width:300px;
    }


    .social-link {
        min-width: 100%;    
        margin: 0.5rem auto;
    }
}