/*  ==================
    FONTS
    ================== */

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/raleway-v37-latin/raleway-v37-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/raleway-v37-latin/raleway-v37-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*  ==================
    CSS VARIABLES
    ================== */

:root {
    /* Colors */
    /* Primary */
    --gradient-color-1: hsl(6, 100%, 80%);
    --gradient-color-2: hsl(335, 100%, 65%);

    /* Neutral */
    --blue-200: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --blue-850: hsl(228, 56%, 26%);
    --blue-950: hsl(229, 57%, 11%);

    --white: hsl(180, 100%, 100%);
}

img {
    width: 5rem;
}

/*  ==================
    BASE
    ================== */

html {
    font-size: 14px;
}

body {
    font-family: 'Raleway', sans-serif;

    min-height: 100vh;
    background-color: var(--blue-950);
    background-image: url('../assets/images/bg-desktop.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*  ==================
    LAYOUT & STYLING
    ================== */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    max-width: 66rem;
    width: 100%;

    margin-block-end: 1.2rem;
}

.left-card {
    background-color: var(--blue-850);
    max-width: 38%;
    width: 100%;
    
    padding: 3rem;
    border-radius: 0.7rem 7rem 0.5rem 0.7rem;

}

.left-card__logo {
    width: auto;
    margin-block-end: 2.2rem;
}

.right-card {
    background-color: var(--blue-850);
    max-width: 61;
    width: 100%;

    position: relative;
}

.icon-container__list {
    display: flex;
    gap: 1rem
}

.icon-container__list-item {
    background-color: var(--blue-950);
    margin-inline-start: 0.1rem;
    border-radius: 0.5rem;
}

.icon-container__list-item1 {
    padding: 0.9rem 1rem;
}

.icon-container__list-item2 {
    padding: 1rem 0.8rem;
}

.icon-container__list-item3 {
    padding: 1rem 0.7rem;
}

.icon-container__list-item1 img {
    width: auto;
    height: 1.7rem
}

.icon-container__list-item2 img {
    width: auto;
    height: 1.4rem
}

.icon-container__list-item3 img {
    width: auto;
    height: 1.3rem
}

.right-card__badge {
    background-color: var(--white);
    padding: 2rem 3.7rem;
    border-radius: 0.4rem;
    position: absolute;
    right: 10%;
    top: -150%;
    z-index: 1;
}

.right-card__badge::after {
    content: "◀";
    position: relative;
    color: var(--blue-850);
    z-index: 1;
}

.right-card__data-info {
    padding: 3rem;
}



.attribution {
    position: absolute;
    bottom: 1%;
}
