/*  ==================
    FONTS
    ================== */

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/raleway-v37-latin/raleway-v37-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/raleway-v37-latin/raleway-v37-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*  ==================
    CSS VARIABLES
    ================== */

:root {
    /* Colors */
    /* Primary */
    --gradient-color-1: hsl(6, 100%, 80%);
    --gradient-color-2: hsl(335, 100%, 65%);

    /* Neutral */
    --blue-200: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --blue-850: hsl(228, 56%, 26%);
    --blue-950: hsl(229, 57%, 11%);

    --white: hsl(180, 100%, 100%);

    /* raidius */
    --border-radius: 0.7rem;
}

img {
    width: 5rem;
}

/*  ==================
    BASE
    ================== */

html {
    font-size: 14px;
}

body {
    font-family: 'Raleway', sans-serif;

    min-height: 100vh;
    background-color: var(--blue-950);
    background-image: url('../assets/images/bg-desktop.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*  ==================
    LAYOUT & STYLING
    ================== */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    max-width: 66rem;
    width: 100%;

    margin-block-end: 1.2rem;
}

.left-card {
    background-color: var(--blue-850);
    max-width: 38%;
    width: 100%;

    padding: 3rem;
    border-radius: var(--border-radius) 7rem var(--border-radius) var(--border-radius);
    box-shadow: -1px 1rem 5rem var(--blue-950);
}

.left-card__logo {
    width: auto;
    margin-block-end: 2.2rem;
}

.icon-container__list {
    display: flex;
    gap: 1rem;
}

.icon-container__list-item {
    background-color: var(--blue-950);
    margin-inline-start: 0.1rem;
    border-radius: var(--border-radius);
}

.icon-container__list-item1 {
    padding: 0.9rem 1rem;
}

.icon-container__list-item2 {
    padding: 1rem 0.8rem;
}

.icon-container__list-item3 {
    padding: 1rem 0.7rem;
}

.icon-container__list-item1 img {
    width: auto;
    height: 1.7rem
}

.icon-container__list-item2 img {
    width: auto;
    height: 1.4rem
}

.icon-container__list-item3 img {
    width: auto;
    height: 1.3rem
}

.right-card {
    background-color: var(--blue-850);
    max-width: 61;
    width: 100%;
    position: relative;
    border-radius: var(--border-radius);
    margin-top: 3rem;
    box-shadow: 1px 1rem 5rem var(--blue-950);
}

.right-card__badge {
    background-color: var(--white);
    padding: 0.8rem 1.6rem;
    border-radius: var(--border-radius);

    position: absolute;
    right: 7.4%;
    top: -27%;
    z-index: 1;
}

.right-card__bardge-triangle {
    position: absolute;
    z-index: 1;
    right: 0%;
    bottom: -30%;
    border-left: 1.7rem solid transparent;
    border-right: 1.7rem solid var(--white);
    border-top: 1.7rem solid transparent;
    border-bottom: 1.7rem solid transparent;
}

.right-card__badge-value {
    display: flex;
    gap: 0.8rem
}

.right-card__badge-value strong {
    font-size: 3rem;
    font-weight: 700;
}

.right-card__badge-value span {
    font-weight: 700;
    text-transform: uppercase;
    align-self: center;
    color: var(--grayish-blue);
}

.right-card__data-info {
    padding: 3rem 2.8rem;
    color: var(--blue-200);
}

.usage-meter {
    background-color: var(--blue-950);
    margin: 1.1rem auto auto;
    height: 1.4rem;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    padding-left: 0.3rem;
}

.usage-meter__fill {
    width: 74%;
    height: 70%;
    background: linear-gradient(90deg, var(--gradient-color-1), var(--gradient-color-2));
    border-radius: var(--border-radius);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.usage-meter__indicator {
    display: inline-block;
    background-color: var(--white);
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    margin-right: 0.1rem;
}

.usage-meter__label {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.usage-meter__label-range {
    font-weight: 700;
    font-size: 0.9rem;
}

.attribution {
    position: absolute;
    bottom: 1%;
}