/*  ==================
    FONTS
    ================== */

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/raleway-v37-latin/raleway-v37-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/raleway-v37-latin/raleway-v37-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*  ==================
    CSS VARIABLES
    ================== */

:root {
    /* Colors */
    /* Primary */
    --gradient-color-1: hsl(6, 100%, 80%);
    --gradient-color-2: hsl(335, 100%, 65%);

    /* Neutral */
    --blue-200: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --blue-850: hsl(228, 56%, 26%);
    --blue-950: hsl(229, 57%, 11%);
}

img {
    width: 5rem;
}

/*  ==================
    BASE
    ================== */

html {
    font-size: 14px;
}

body {
    /* background-color: var(--blue-950); */
    background: url('../assets/images/bg-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/*  ==================
    LAYOUT & STYLING
    ================== */

